@import "_reset.scss";
@import "_variables.scss";



  header{
    display: flex;

    .logo-container{
        width: 10%;
        .logo{
            width: 100%;
            padding: 20%;
        }
    }
    .input-search {
        margin-left: 2%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .search{
            width: 75%;
            line-height: 40px;
            background-color: #f4f6f6;
            border: 0;
            border-radius: 5px;
            &:hover
            {
            -moz-box-shadow: 0 0 10px #ccc;
            -webkit-box-shadow: 0 0 10px #ccc;
            box-shadow: 0 0 10px #ccc;
            }
            &:focus{
                outline: none;
            }
        } 
        
    .search-btn{ 
        .search-text{
            font-family: $roboto;
            font-weight: bold;
            color:$darkgrey;
            background-color: $yellow;
            padding: 10px;
            line-height: 40px;
            &:hover
            {
            -moz-box-shadow: 0 0 10px #ccc;
            -webkit-box-shadow: 0 0 10px #ccc;
            box-shadow: 0 0 10px #ccc;
            }
        }
                
        }
    } 

    .profile {
        border-radius: 50%;
        width: 9%;
      }
}

.navBar{
    
    background-color: $yellow;
    border-radius: 15px;
    width: 100%;
    padding:1% 0% 1% 0%;
    font-family: $roboto;
    ul{
        display: flex;
        justify-content: space-evenly;
        
        li p{
        color: $darkgrey;
        &:hover{
            font-weight: bold;
        }
        }
    }

}


.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;

  

.productContainer{
    margin: 30px 0;
    box-sizing: border-box;
   
    .catTitle{
        font-size: 30px;
        font-family: $roboto;
        color:$darkgrey;
        padding: 0 0 5px 0;
    
    }
} 

    .productsLists{
        display: flex;
        justify-content: space-around;
        ul{
            width: 100%;
            display: flex;
        li{
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 10px;
            
        
        
        .imgContainer{
            width: 270px;
            height: 270px;
            .imageSeller{
                width: 100%;
                height: 100%;
                margin-bottom: 5px;
                &:hover
                {
                  -moz-box-shadow: 0 0 10px #ccc;
                  -webkit-box-shadow: 0 0 10px #ccc;
                  box-shadow: 0 0 10px #ccc;
                }
             } 
                         }
             
        p{
            font-size: 20px;
            font-family: $roboto;
            color:$grey;
            margin: 5px;
            }
        span{
            font-size: 18px;
            font-family: $roboto;
            color:$grey;
            margin: 5px;
            }
        
        }
        .more{
            font-family: $roboto;
            color: $darkgrey;
            background-color: $yellow; 
            text-align: center;
            font-size: 15px;
            padding: 5px;
            border-radius: 5px;
            &:hover {
                filter: opacity(.5);
                }
            }
        }
    }

}

.footer{
    background-color: $yellow;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        color:$darkgrey;
        font-family: $roboto;
        font-weight: bold;
       
    }
}

@media only screen and (max-width:850px) {
   
    .container{
       .productsLists{
            ul{
                li{
                 .imgContainer{
                    width: 200px;
                    height: 200px;
                    } 
                }
            }
        }
    }
}

@media only screen and (max-width:650px) {
    header{     
        display: flex;
        justify-content: center;
        .logo-container{
            display: flex;
            flex-direction: column;
            width: 20%;
            
        }
        .input-search{
            display: flex;
            align-content: center;
            justify-content: space-around;
            padding: 20px 0;
            .search-btn{
                display: none;
            }
            .profile{
                width: 16%;
            }
        }
    }
    .container{
        display: flex;
       .productsLists{
           display: flex;
           .productContainer{
               display: flex;
               flex-direction: column;
            ul{
                display: flex;
                flex-direction: column;
                li{
                 .imgContainer{
                    width: 200px;
                    height: 200px;
                        } 
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:320px) {
    header{     
        .logo-container{
            width: 50px;
            margin-top: 10px;
        }
    }
    
    .container{
            .productsLists{
                ul{
                    .item2, .item3{
                        display: none;
                    }
                }
            }
        }
}
